$textPrimaryCol: #2C2C2C;
$textSecondary: #505050;

// цвета фона и компонентов 

$colWhite: #fefefe;
$colWhite--Gradient: #e9e9e9;

$colGreen-light: #bbf330;
$colGreen-light--hover: #b9ff45;

$colGreen: #80b12d;
$colGreen--hover: #5b7d1d;

$colYellow: #ffe263;

$colRed: #fc6560;
