$textPrimaryCol: #2c2c2c;
$textSecondary: #505050;

// цвета фона и компонентов

$colWhite: #fefefe;
$colWhite--Gradient: #e9e9e9;
$colWhite--Full: #ffffff;

$colGreen-light: #bbf330;
$colGreen-light--hover: #b5ff00;

$colGreen: #7eb101;
$colGreen--hover: #597d00;

$colYellow: #ffe263;

$colRed: #ff705d;
