<section class=" favorites section">
    <div class="favorites__container container"></div>
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites__card-set card-set">
        <li class="favorites__card-item">
            <a href="" class="favorites__link">
        <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                         ./images/Favorites/Favorites-desk/gamburger-lg@1x.webp 1x,
                ./images/Favorites/Favorites-desk/gamburger-lg@2x.webp 2x
                        " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                          ./images/Favorites/Favorites-desk/gamburger-lg@1x.png 1x,
                 ./images/Favorites/Favorites-desk/gamburger-lg@2x.png 2x
                        " type="image/png" />
        <!-- TAB -->
        <source media="(min-width: 768px)" srcset="
                      ./images/Favorites/Favorites-tab/gamburger-md@1x.webp 1x,
                ./images/Favorites/Favorites-tab/gamburger-md@2x.webp 2x
                    " type="image/webp" />
        <source media="(min-width: 768px)" srcset="
                     ./images/Favorites/Favorites-tab/gamburger-md@1x.png 1x,
                 ./images/Favorites/Favorites-tab/gamburger-md@2x.png 2x
                    " type="image/png" />
    <!-- MOB -->
    <source media="(max-width: 767px)" srcset="
                ./images/Favorites/Favorites-mob/gamburger-sm@1x.webp 1x,
                ./images/Favorites/Favorites-mob/gamburger-sm@2x.webp 2x
                " type="image/webp" />
    <source media="(max-width: 767px)" srcset="
                  ./images/Favorites/Favorites-mob/gamburger-sm@1x.png 1x,
                 ./images/Favorites/Favorites-mob/gamburger-sm@2x.png 2x
                " type="image/png" />
    
    <img class="favorites__img" 
    src="./images/Favorites/Favorites-mob/gamburger-sm@1x.png" 
    alt="Picture of gamburger"
    width="223px"
    height="223px"
   >
        </picture>
    </a>
        </li>
        <li class="favorites__card-item">
            <a href="" class="favorites__link">
                <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                                    ./images/Favorites/Favorites-desk/pasta-lg@1x.webp 1x,
                            ./images/Favorites/Favorites-desk/pasta-lg@2x.webp 2x
                                    " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                                    ./images/Favorites/Favorites-desk/pasta-lg@1x.png 1x,
                            ./images/Favorites/Favorites-desk/pasta-lg@2x.png 2x
                                    " type="image/png" />
            <!-- TAB -->
            <source media="(min-width: 768px)" srcset="
                            ./images/Favorites/Favorites-tab/pasta-md@1x.webp 1x,
                            ./images/Favorites/Favorites-tab/pasta-md@2x.webp 2x
                                " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                                 ./images/Favorites/Favorites-tab/pasta-md@1x.png 1x,
                             ./images/Favorites/Favorites-tab/pasta-md@2x.png 2x
                                " type="image/png" />
                    <!-- MOB -->
                    <source media="(max-width: 767px)" srcset="
                        ./images/Favorites/Favorites-mob/pasta-sm@1x.webp 1x,
                        ./images/Favorites/Favorites-mob/pasta-sm@2x.webp 2x
                        " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
                          ./images/Favorites/Favorites-mob/pasta-sm@1x.png 1x,
                         ./images/Favorites/Favorites-mob/pasta-sm@2x.png 2x
                        " type="image/png" />
        
                    <img class="favorites__img" src="./images/Favorites/Favorites-mob/pasta-sm@1x.png"
                        alt="Picture of gamburger"  width="223px"
    height="223px" >
                </picture>
            </a>
        </li>
            <li class="favorites__card-item">
                <a href="" class="favorites__link">
                    <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/pizza-lg@1x.webp 1x,
                            ./images/Favorites/Favorites-desk/pizza-lg@2x.webp 2x
                                    " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/pizza-lg@1x.png 1x,
                                ./images/Favorites/Favorites-desk/pizza-lg@2x.png 2x
                                    " type="image/png" />
            <!-- TAB -->
            <source media="(min-width: 768px)" srcset="
                                        ./images/Favorites/Favorites-tab/pizza-md@1x.webp 1x,
                                        ./images/Favorites/Favorites-tab/pizza-md@2x.webp 2x
                                            " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                                             ./images/Favorites/Favorites-tab/pizza-md@1x.png 1x,
                                         ./images/Favorites/Favorites-tab/pizza-md@2x.png 2x
                                            " type="image/png" />
                        <!-- MOB -->
                        <source media="(max-width: 767px)" srcset="
                                    ./images/Favorites/Favorites-mob/pizza-sm@1x.webp 1x,
                                    ./images/Favorites/Favorites-mob/pizza-sm@2x.webp 2x
                                    " type="image/webp" />
                        <source media="(max-width: 767px)" srcset="
                                      ./images/Favorites/Favorites-mob/pizza-sm@1x.png 1x,
                                     ./images/Favorites/Favorites-mob/pizza-sm@2x.png 2x
                                    " type="image/png" />
            
                        <img class="favorites__img" src="./images/Favorites/Favorites-mob/pizza-sm@1x.png"
                            alt="Picture of gamburger"  width="223px"
    height="223px" >
                    </picture>
                </a>
            </li>
<!-- TABLET DESK ONLY -->
<li class="favorites__card-item favorites__card-item--tablet">
    <a href="" class="favorites__link">
        <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/chicken-lg@1x.webp 1x,
                            ./images/Favorites/Favorites-desk/chicken-lg@2x.webp 2x
                                    " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/chicken-lg@1x.png 1x,
                                ./images/Favorites/Favorites-desk/chicken-lg@2x.png 2x
                                    " type="image/png" />
            <!-- TAB -->
            <source media="(min-width: 768px)" srcset="
                                        ./images/Favorites/Favorites-tab/chicken-md@1x.webp 1x,
                                        ./images/Favorites/Favorites-tab/chicken-md@2x.webp 2x
                                            " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                                             ./images/Favorites/Favorites-tab/chicken-md@1x.png 1x,
                                         ./images/Favorites/Favorites-tab/chicken-md@2x.png 2x
                                            " type="image/png" />
           
            <img class="favorites__img favorites__img--tablet" src="./images/Favorites/Favorites-tab/chicken-md@1x.png"
                alt="Picture of gamburger" width="223px" height="223px">
        </picture>
    </a>
</li>

<li class="favorites__card-item favorites__card-item--tablet">
    <a href="" class="favorites__link">
        <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/salat-lg@1x.webp 1x,
                            ./images/Favorites/Favorites-desk/salat-lg@2x.webp 2x
                                    " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/salat-lg@1x.png 1x,
                                ./images/Favorites/Favorites-desk/salat-lg@2x.png 2x
                                    " type="image/png" />
            <!-- TAB -->
            <source media="(min-width: 768px)" srcset="
                                        ./images/Favorites/Favorites-tab/salat-md@1x.webp 1x,
                                        ./images/Favorites/Favorites-tab/salat-md@2x.webp 2x
                                            " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                                             ./images/Favorites/Favorites-tab/salat-md@1x.png 1x,
                                         ./images/Favorites/Favorites-tab/salat-md@2x.png 2x
                                            " type="image/png" />

            <img class="favorites__img favorites__img--tablet" src="./images/Favorites/Favorites-tab/salat-md@1x.png"
                alt="Picture of gamburger" width="223px" height="223px">
        </picture>
    </a>
</li>
<li class="favorites__card-item favorites__card-item--tablet">
    <a href="" class="favorites__link">
        <picture>
            <!-- DESKTOP -->
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/borshch-lg@1x.webp 1x,
                            ./images/Favorites/Favorites-desk/borshch-lg@2x.webp 2x
                                    " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                                        ./images/Favorites/Favorites-desk/borshch-lg@1x.png 1x,
                                ./images/Favorites/Favorites-desk/borshch-lg@2x.png 2x
                                    " type="image/png" />
            <!-- TAB -->
            <source media="(min-width: 768px)" srcset="
                                        ./images/Favorites/Favorites-tab/borshch-md@1x.webp 1x,
                                        ./images/Favorites/Favorites-tab/borshch-md@2x.webp 2x
                                            " type="image/webp" />
            <source media="(min-width: 768px)" srcset="
                                             ./images/Favorites/Favorites-tab/borshch-md@1x.png 1x,
                                         ./images/Favorites/Favorites-tab/borshch-md@2x.png 2x
                                            " type="image/png" />

            <img class="favorites__img favorites__img--tablet" src="./images/Favorites/Favorites-tab/borshch-md@1x.png"
                alt="Picture of gamburger" width="223px" height="223px">
        </picture>
    </a>
</li>

    </ul>