<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__nav-box">
      <div class="footer__nav nav">
        <a href="" class="footer__logo logo">
          <svg width="69" height="51">
            <use href="./images/svg/icons.svg#logo"></use>
          </svg>
        </a>
        <ul class="footer__nav-list nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#hero">Where we work</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#offerings">Peculiarities</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#favorites">Our Favorites</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#customers">Testimonials</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#subscribe">Subscribe</a>
          </li>
        </ul>
      </div>
      <div class="footer__subscribe">
        <h2 class="footer__subscribe-text">Subscribe</h2>
        <form class="footer__form form" name="subscribe__form">
          <label class="footer__form-label form__label">
            <input
              class="footer__form-input form__input"
              type="email"
              name="email"
              placeholder="Enter your email"
              required
            />
            <span class="form__notification"
              >Not a valid email address (example@email.com)</span
            >
          </label>
          <button type="submit" class="footer__btn button--white">
            Subscribe
          </button>
        </form>
        <p class="footer__agreement">
          By subscribing you agree to with our
          <a class="footer__agreement-link" href="">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__legal">
      <ul class="footer__legal-list">
        <li class="footer__legal-item">
          <a href="" class="footer__legal-link">Privacy Policy</a>
        </li>
        <li class="footer__legal-item">
          <a href="" class="footer__legal-link">Terms of Service</a>
        </li>
        <li class="footer__legal-item">
          <a href="" class="footer__legal-link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__info-reserv">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
