<footer class="footer">
    <div class="footer__container container">
      <div class="footer__nav-box">
       
        <nav class="footer__nav nav">
          <a href="" class="footer__logo logo">
            <svg width="69" height="51">
              <use href="./images/svg/icons.svg#logo"></use>
            </svg>
          </a>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Service</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Menu</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="footer__subscribe">
          <form class="subscribe__form" name="subscribe_form" novalidate>
            <label class="subscribe__label">
              <span class="footer__subscribe-text">Subscribe</span>
              <input class="subscribe__input" 
              type="email" 
              name="email"
              placeholder="Enter your email"/>
            </label>
          </form> 
          <button type="submit" class="light__btn">Subscribe</button>
          <span class="footer__agreement">
            By subscribing you agree to with our <a class="footer__agreement-link" href="">Privacy Policy</a></span>
        </div>
      </div>
      <div class="footer__legal">
        <ul class="footer__legal-list">
          <li class="footer__legal-item"><a href="">Privacy Policy</a></li>
          <li class="footer__legal-item"><a href="">Terms of Service</a></li>
          <li class="footer__legal-item"><a href="">Cookies Settings</a></li>
        </ul>
        <p>2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </footer>
  