<footer class="footer section">
    <div class="footer__container container">
      <div class="footer__nav-box">
        <div class="footer__nav nav">
          <a href="" class="footer__logo logo">
            <svg width="69" height="51">
              <use href="./images/svg/icons.svg#logo"></use>
            </svg>
          </a>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="" class="nav__link">Home</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Service</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Menu</a>
            </li>
            <li class="nav__item">
              <a href="" class="nav__link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer__subscribe">
            <span class="footer__subscribe-text">Subscribe</span>
            <form class="form" name="subscribe__form">
                <label class="form__label">
                <input class="form__input" type="email" name="email" placeholder="Enter your email" required/>
                <span class="form__notification">Not a valid email address (example@email.com)</span>    
                </label>
                <button type="submit" class="btn">Subscribe</button>
            </form> 
          <span class="footer__agreement">
            By subscribing you agree to with our <a class="footer__agreement-link" href="">Privacy Policy</a></span>
        </div>
      </div>
      <div class="footer__legal">
        <ul class="footer__legal-list">
          <li class="footer__legal-item"><a href="" class="footer__legal-link">Privacy Policy</a></li>
          <li class="footer__legal-item"><a href="" class="footer__legal-link">Terms of Service</a></li>
          <li class="footer__legal-item"><a href="" class="footer__legal-link">Cookies Settings</a></li>
        </ul>
        <p>2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </footer>
  