<header class="header">
  <div class="header__container container">
    <a class="logo" href="./">
      <svg class="logo__icon" width="66" height="52">
        <use href="./images/svg/icons.svg#logo"></use>
      </svg>
    </a>
    <div class="mobile-menu-box box">
      <button type="button" class="header__button js-open-menu">
        <svg class="header__icon" width="28" height="28">
          <use href="./images/svg/icons.svg#bg-menu"></use>
        </svg>
      </button>
      <div class="mobile-menu js-menu-container" id="mobile-menu">
        <button type="button" class="mobile-menu__button js-close-menu">
          <svg class="mobile-menu__icon" width="11" height="11">
            <use href="./images/svg/icons.svg#icon-close "></use>
          </svg>
        </button>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#hero">Where we work</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#offerings">Peculiarities</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#favorites">Our Favorites</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#customers">Testimonials</a>
          </li>
          <li class="mobile-menu__item">
            <a class="mobile-menu__link" href="#subscribe">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navigation">
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#hero">Where we work</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#offerings">Peculiarities</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#favorites">Our Favorites</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#customers">Testimonials</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#subscribe">Subscribe</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="nav__button button" data-modal-open1>
        Order Now
      </button>
    </div>
  </div>
</header>
