<header class="header">
    <div class=" header_container container">
        <a class="logo" href="./">
            <svg class="header_icon" width="66" height="52">
                <use href="./images/svg/icons.svg#logo"></use>
                </svg>
        </a>
        <button type="button" class="header_btn button">
            <svg class="header_icon" width="28" height="28">
            <use href="./images/svg/icons.svg#bg-menu"></use>
            </svg>
        </button>
        <nav class="header__nav nav">
            <ul class="nav_list">
                <li class="nav__item">
                    <a class="nav__link nav__link--current" href="./index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Service</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Menu</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="btn">Order Now</button>
    </div>
</header>