<section class="section hero">
  <div class="conteiner hero__conteiner box">
    <h1 class="titel hero__titel">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="description hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button type="button hero__button" class="button">Order Now</button>
    <div class="roulette box">
        <div class="roulette__images"></div>
      <button type="button" class="button-roul-aft"</button>
      <button type="button" class="button-roul-bef"</button>
    </div>
  </div>
</section>
