<section class="section hero">
  <div class="container hero__container box">
    <div class="hero__box-mobile">
      <h1 class="title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="description hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="button hero__button" type="button">Order Now</button>
    </div>
    <div class="slider-box">
      <div class="slider">
        <div class="slick-carousel">
          <div class="slider__image">1</div>
          <div class="slider__image">2</div>
          <div class="slider__image">3</div>
        </div>
      </div>
      <button class="button-roul button-roul--aft slick-prev" type="button">
        <svg width="34" height="28">
          <use href="/src/images/svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="button-roul button-roul--bef slick-next" type="button">
        <svg width="34" height="28">
          <use href="/src/images/svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
