<section class="section hero">
  <a id="hero" class="anchor-movement"></a>
  <div class="container hero__container box">
    <div class="hero__box-mobile">
      <h1 class="title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="description hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="button hero__button" type="button" data-modal-open2>
        Order Now
      </button>
    </div>
    <div class="slider-box">
      <div class="slider">
        <div class="slider__carousel">
          <div class="slider__image">
            <picture class="offerings__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero1-lg@1x.webp 1x,
                  images/hero/hero-desk/hero1-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero1-lg@1x.png 1x,
                  images/hero/hero-desk/hero1-lg@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero1-md@1x.webp 1x,
                  images/hero/hero-tab/hero1-md@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero1-md@1x.png 1x,
                  images/hero/hero-tab/hero1-md@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="images/hero/hero-desk/hero1-lg@1x.png"
                alt="meatballs"
              />
            </picture>
          </div>
          <div class="slider__image">
            <picture class="offerings__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero2-lg@1x.webp 1x,
                  images/hero/hero-desk/hero2-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero2-lg@1x.png 1x,
                  images/hero/hero-desk/hero2-lg@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero2-md@1x.webp 1x,
                  images/hero/hero-tab/hero2-md@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero2-md@1x.png 1x,
                  images/hero/hero-tab/hero2-md@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="images/hero/hero-desk/hero2-lg@1x.png"
                alt="meatballs"
              />
            </picture>
          </div>
          <div class="slider__image">
            <picture class="offerings__img">
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero3-lg@1x.webp 1x,
                  images/hero/hero-desk/hero3-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/hero/hero-desk/hero3-lg@1x.png 1x,
                  images/hero/hero-desk/hero3-lg@2x.png 2x
                "
                type="image/png"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero3-md@1x.webp 1x,
                  images/hero/hero-tab/hero3-md@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/hero/hero-tab/hero3-md@1x.png 1x,
                  images/hero/hero-tab/hero3-md@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="images/hero/hero-desk/hero3-lg@1x.png"
                alt="meatballs"
              />
            </picture>
          </div>
        </div>
      </div>
      <button class="button-roul button-roul--aft" type="button">
        <svg width="34" height="28">
          <use href="/src/images/svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
      <button class="button-roul button-roul--bef" type="button">
        <svg width="34" height="28">
          <use href="/src/images/svg/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
