<section class="subscribe">
  <div class="subscribe__container container">
    <picture class="subscribe__pic">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/subscribe/subscribe-desk/banan-lg@1x.png 1x,
          images/subscribe/subscribe-desk/banan-lg@2x.png 2x
        "
        width="608"
        height="266"
        type="image/png"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          images/subscribe/subscribe-desk/banan-lg@1x.webp 1x,
          images/subscribe/subscribe-desk/banan-lg@2x.webp 2x
        "
        width="608"
        height="266"
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/subscribe/subscribe-tab/banan-md@1x.png 1x,
          images/subscribe/subscribe-tab/banan-md@2x.png 2x
        "
        width="281"
        height="136"
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/subscribe/subscribe-tab/banan-md@1x.webp 1x,
          images/subscribe/subscribe-tab/banan-md@2x.webp 2x
        "
        width="281"
        height="136"
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/subscribe/subscribe-mob/banan-sm@1x.png 1x,
          images/subscribe/subscribe-mob/banan-sm@2x.png 2x
        "
        width="280"
        height="78"
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/subscribe/subscribe-mob/banan-sm@1x.webp 1x,
          images/subscribe/subscribe-mob/banan-sm@2x.webp 2x
        "
        width="280"
        height="78"
        type="image/webp"
      />
      <img
        class="subscribe__img"
        src="images/subscribe/subscribe-desk/banan-lg@1x.png"
        alt="Банан"
        width="608"
        height="266"
      />
    </picture>
    <h2 class="subscribe__title">subscribe To Get Special Offers</h2>
    <p class="subscribe__text description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <div class="subscribe__wrap">
      <form autocomplete="on" class="form" name="subscribe__form">
        <label class="form__label">
          <input
            name="mailing"
            type="email"
            class="form__input"
            placeholder="Enter your email"
            required
          />
        </label>
        <button type="submit" class="form__button button">subscribe</button>
      </form>
    </div>
  </div>
</section>
