<section class="subscribe section">
  <a id="subscribe" class="text-hidden anchor-movement"></a>
  <div class="subscribe__container container">
    <picture class="subscribe__pic">
      <source
        media="(min-width: 1280px)"
        srcset="
          images/subscribe/subscribe-desk/banan-lg@1x.png 1x,
          images/subscribe/subscribe-desk/banan-lg@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          images/subscribe/subscribe-desk/banan-lg@1x.webp 1x,
          images/subscribe/subscribe-desk/banan-lg@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/subscribe/subscribe-tab/banan-md@1x.png 1x,
          images/subscribe/subscribe-tab/banan-md@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          images/subscribe/subscribe-tab/banan-md@1x.webp 1x,
          images/subscribe/subscribe-tab/banan-md@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/subscribe/subscribe-mob/banan-sm@1x.png 1x,
          images/subscribe/subscribe-mob/banan-sm@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 767px)"
        srcset="
          images/subscribe/subscribe-mob/banan-sm@1x.webp 1x,
          images/subscribe/subscribe-mob/banan-sm@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        class="subscribe__img"
        src="images/subscribe/subscribe-mob/banan-sm@1x.png"
        alt="Банан"
      />
    </picture>
    <div class="subscribe__box">
      <h2 class="subscribe__title title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <div class="subscribe__wrap">
        <form autocomplete="on" class="form" name="subscribe__form">
          <label class="form__label">
            <input
              name="email"
              type="email"
              class="form__input"
              placeholder="Enter your email"
              required
            />
            <span class="form__notification"
              >Not a valid email address (example@email.com)</span
            >
          </label>
          <button type="submit" class="form__button button">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
