.button {
  @include text(13px, 20px, 500);

  padding: 6px 18px;

  background: $colGreen-light;
  border-radius: 30px;

  @include hov {
    background: $colGreen-light--hover;
  }
}
.button--white {
  @include text(13px, 20px, 500);

  padding: 10px 22px;

  background: $colWhite--Full;
  border: 2px solid $colGreen;
  border-radius: 30px;

  @include hov {
    border-color: $colGreen--hover;
  }
}

.button-roul {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 28px;
  padding: 4px 0 0;

  background-color: $colWhite--Full;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  @include hov {
    fill: $colGreen;
  }
  @include mq(desk) {
    width: 48px;
    height: 40px;
  }
}
.button-roul--aft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(180deg) translate(8px, 50%);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.06);
  @include mq(desk) {
    transform: rotate(180deg) translate(14px, 50%);
  }
}
.button-roul--bef {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(8px, -50%);

  @include mq(desk) {
    transform: translate(14px, -50%);
  }
}
