.customers {
  background-image: url(../images/customers/customers-mob/customers_bg-sm.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/customers/customers-tab/customers_bg-md.svg);
    padding-bottom: 120px;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/customers/customers-desk/customers_bg-lg.svg);
    padding-bottom: 200px;
  }
}

.customers__title {
  margin-bottom: 20px;
}

.customers__uppertitle {
  margin-bottom: 32px;
}

.customers__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1280px) {
    padding-right: 107px;
  }
}

.customers__item {
  background-color: #fff;
  margin-bottom: 24px;
  border-radius: 25px;
  border-top-left-radius: 0;
  padding: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(2n) {
      margin-left: 32px;
    }

    padding: 12px;
  }

  @media screen and (min-width: 1280px) {
    &:nth-child(2n) {
      margin-left: 139px;
    }
  }
}

.customers__icon {
  fill: $colYellow;
  margin-bottom: 28px;
}

.customers__text {
  @include text(16px, 19px, 700);
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    @include text(18px, 21px, 700);
  }
}

.customer {
  display: flex;
  gap: 16px;
}

.customer__photo {
  border-radius: 50%;
  border: 2px solid $colYellow;
  overflow: hidden;
}

.customer__wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding-right: 16px;

  border-right: 0.854167px solid $colGreen;
}

.customer__name {
  @include text(14px, 21px, 500);
}

.customer__role {
  @include text(14px, 21px, 400);
}
