.footer {
  // background
  background-image: url(../images/footer/footer-mob/mobile_fruit@1x.png),
     url(../images/footer/footer-mob/mobile-apple@1x.png),
    url(../images/footer/footer-mob/mobile-orange@1x.png);
  background-repeat: no-repeat;
  background-position: bottom center, 0% 25%, top right;
  background-size: 253px 66px, 110px 116px, 104px 259px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/footer/footer-mob/mobile_fruit@2x.png),
       url(../images/footer/footer-mob/mobile-apple@2x.png),
       url(../images/footer/footer-mob/mobile-orange@2x.png);
      
      background-repeat: no-repeat;
      background-position: bottom center, top left, top right;
      background-size: 253px 66px, 110px 116px, 104px 259px;
  }
  // url(../images/footer/footer-mob/mobile_fruit@1x.webp),
  // url(../images/footer/footer-mob/mobile-apple@1x.webp),
  // url(../images/footer/footer-mob/mobile-orange@1x.webp);

  // url(../images/footer/footer-mob/mobile_fruit@2x.webp),
  // url(../images/footer/footer-mob/mobile-apple@2x.webp),
  // url(../images/footer/footer-mob/mobile-orange@2x.webp);


  @media screen and (min-width: 768px) {
    background-image: url(../images/footer/footer-tab/tab-fruit@1x.png),
   url(../images/footer/footer-tab/tab-orange@1x.png);
   background-position: bottom center, top right;
   background-size: 100% auto, 203px 365px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/footer/footer-tab/tab-fruit@2x.png),
        url(../images/footer/footer-tab/tab-orange@2x.png);

        background-position: bottom center, top right;
        background-size: 100% auto, 203px 365px;
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/footer-desk/desk-fruit@1x.webp), url(../images/footer/footer-desk/desk-fruit@1x.png);
    background-position: bottom center;
    background-size: 1211px 266px;


    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: url(../images/footer/footer-desk/desk-fruit@2x.webp), url(../images/footer/footer-desk/desk-fruit@2x.png);
        background-position: bottom center;
        background-size: 1211px 266px;
    }
  }

  padding-top: 60px;
  @include mq(tab) {
    padding-top: 100px;
  }

  &__nav-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include mq(tab) {
      margin-bottom: 100px;
    }

    @include mq(desk) {
      margin-bottom: 80px;
      flex-direction: row;
    }
  }

  &__nav {
    display: flex;
    margin-bottom: 40px;

    @include mq(tab) {
      align-items: center;
    }
  }
  &__nav-list {
    display: flex;
    gap: 20px;
    flex-direction: column;

    margin-right: 101px;
    margin-left: auto;

    @include mq(tab) {
      flex-direction: row;
      margin-left: 114px;
      margin-right: auto;
      gap: 28px;
    }
  }
  // &__logo{
  //     display: inline-block;
  // }

  &__subscribe {
    display: flex;
    flex-direction: column;

    @include mq(desk) {
      margin-left: auto;
    }
  }

  &__agreement {
    font-size: 10px;
    line-height: calc(12 / 10);
  }
  &__agreement-link {
    text-decoration: underline;
    color: $colGreen;
  }

  &__legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include mq(tab) {
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  &__legal-list {
    display: flex;
    gap: 34px;

    @include mq(tab) {
      gap: 20px;
    }
  }

  &__legal-link {
    font-size: 10px;
    line-height: calc(12 / 10);
    text-decoration: underline;
    color: $colGreen;
  }

  &__subscribe-text {
    font-weight: 500;
    line-height: calc(21 / 14);
    margin-bottom: 12px;
    display: inline-block;
  }
  &__form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    @include mq(tab) {
      flex-direction: row;
      margin-bottom: 12px;
      gap: 13px;
    }
  }
  &__form-label {
    max-width: 440px;
    @include mq(tab) {
      width: 279px;
    }
  }

  &__btn {
    margin-left: auto;
    width: 103px;
    @include hov {
      background: $colYellow;
    }
    @include mq(tab) {
      margin-left: 0;
    }
  }

  &__info-reserv {
    font-size: 10;
    line-height: calc(12 / 10);

    @include mq(tab) {
      margin-left: auto;
    }
  }
}
