.header__container { 
  display: flex;  
  align-items: center;  
}

.logo {
  display: inline-block;
  height: 52px;
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  width: 28px;
  height: 28px;
  border: none;
  background-color: $colWhite--Full;
  @include mq(tab) {
    display: none;
  }
}

.header__icon {
  fill: $colGreen;
}


.mobile-menu {
  position: fixed;
  top: 42px;
  right: 20px;
  width: 130px;
  height: 255px;
  background-color: $colWhite;
  overflow-y: scroll;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  transform: translateX(100%);  
  z-index: 998;

  @include mq(tab) {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colWhite--Full;
  border-radius: 50%;
  border: transparent;
  z-index: 999;
}
.mobile-menu__link {  
  display: block;
  width: 100%;  
  @include text(16px, 19px);
  
}
.mobile-menu__item {
  padding: 16px;
  @include hov {
    background-color: $colGreen-light;
   
  }
}
.mobile-menu__icon {  
  fill: $textPrimaryCol;  
}

