.hero {
  background-image: linear-gradient(
    $colWhite--Gradient 2px,
    $colWhite 20px,
    $colWhite
  );
  padding-top: 60px;
  @include mq(tab) {
    padding-top: 100px;
  }
}
.hero__container {
}
.hero__box-mobile {
  @include mq(mob-only) {
    max-width: 280px;
    margin: 0 auto;
  }
}
.hero__title {
  margin-bottom: 28px;
  max-width: 280px;

  @include mq(tab) {
    max-width: 538px;
  }
  @include mq(desk) {
    max-width: 502px;
  }
}
.hero__description {
  margin-bottom: 28px;
  max-width: 266px;
  @include mq(tab) {
    margin-bottom: 40px;
    max-width: 336px;
  }
  @include mq(desk) {
    max-width: 502px;
  }
}
.slider-box {
  display: inline-block;
  position: absolute;
  top: 90px;
  right: 0;

  right: 22px;

  @include mq(mob-only) {
    display: none;
  }
  @include mq(desk) {
    top: -30%;
    right: 22px;
  }
}
.slider {
  position: relative;
  border-radius: 50%;
  border: 14px solid $colYellow;
  overflow: hidden;

  width: 320px;
  height: 320px;

  @include mq(desk) {
    border-width: 26px;
    width: 580px;
    height: 580px;
  }
}
.slider__image {
  width: 292px;
  height: 292px;

  @include mq(desk) {
    width: 528px;
    height: 528px;
  }
}
.slider__carousel {
  display: flex;
  position: absolute;
  transform: translateX(0%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
