.offerings {
  padding-top: 50px;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/offerings/svg/bg-mob.svg);

  @include mq(tab-only) {
    margin-top: -125px;
    padding-top: 150px;
background-size: 100% 1140px;
    background-image: url(../images/offerings/svg/bg-tab.svg);
  }

  @include mq(desk) {
    margin-top: -38px;
    padding-top: 177px;
    background-size: 100% 824px;
    background-image: url(../images/offerings/svg/bg-desk.svg);
  }

  &__thumb {
    @include mq(desk) {
      display: flex;
      gap: 90px;
    }
  }

  &__img-wrapper {
    @include mq(noDesk) {
      margin-bottom: 60px;
    }
  }

  &__img {
    margin: auto;
  }

  &__wrapper {
    @include mq(desk) {
      flex-basis: 573px;
      align-self: center;
    }
  }

  &__block {
    @include mq(tab) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__heading {
    @include mq(tab) {
      max-width: 544px;
    }
  }

  &__title {
    margin-bottom: 28px;

    @include mq(mob-only) {
      max-width: 280px;
    }

    @include mq(tab) {
      margin-bottom: 20px;
    }
  }

  &__desc {
    @include mq(mob-only) {
      margin-bottom: 28px;
    }
  }

  &__text {
    @include mq(desk) {
      line-height: calc(21 / 14);
    }
  }

  &__subtitle {
    @include text(18px, 21px, 700);
    margin-bottom: 16px;
  }

  &__list {
    gap: 28px;

    @include mq(tab-only) {
      --card-gap: 116px;
      --card-item: 2;
    }

    @include mq(desk) {
      --card-gap: 67px;
      --card-item: 2;
    }
  }

  &__item {
    position: relative;
    padding-top: 56px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 48px;
      height: 48px;
    }
  }

  &__delivery::before {
    background-image: url(../images/offerings/svg/delivery.svg);
  }

  &__order::before {
    background-image: url(../images/offerings/svg/oder.svg);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 28px;

    @include mq(tab) {
      margin-top: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    @include text(14px, 24px, 500);
    padding: 10px 0;
    cursor: pointer;

    @include mq(desk) {
      margin-top: 32px;
    }
  }

  &__link {
    @include mq(desk) {
      display: none;
    }
  }
}
