.Subscribe {
  padding-bottom: 60px;
  background-image: linear-gradient(
    to top,
    $colWhite--Gradient 2px,
    $colWhite 20px,
    $colWhite
  );

  @include mq(tab) {
    padding-bottom: 100px;
  }
}

.Subscribe__container {
  max-width: 280px;
  @include mq(tab) {
    max-width: 656px;
  }
  @include mq(desk) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
}

.Subscribe__title {
  display: block;
  margin-bottom: 20px;
  color: $textPrimaryCol;
  letter-spacing: 0.03em;
  @include text(28px, 34px, 700);

  @include mq(tab) {
    @include text(42px, 50px, 700);
  }
}

.Subscribe__text {
  margin-bottom: 40px;

  @include mq(tab) {
    margin-bottom: 24px;
    @include text(16px, 24px, 400);
  }
}

.Subscribe__pic {
  margin-bottom: 17px;

  @include mq(tab-only) {
    margin-bottom: 20px;
  }
}

.Subscribe__wrap {
  text-align: end;

  @include mq(tab) {
    text-align: start;
  }
}

.Subscribe__wrap .form {
  @include mq(tab) {
    display: flex;
    gap: 22px;
  }
}

.Subscribe__wrap .form__label {
  @include mq(mob-only) {
    margin-bottom: 20px;
  }
}

.Subscribe__wrap .form__input {
  @include mq(tab) {
    width: 394px;
  }
}
