
.favorites__container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;

    @include mq(mob) {
        max-width: 480px;
    }

    @include mq(tab) {
        max-width: 768px;
    }

    @include mq(desk) {
        max-width: 1280px;
    }
}



.favorites{
padding: 60px 20px;
}

.favorites__title{
 
font-weight: 700;
font-size: 28px;
line-height: calc(33 / 28);
text-align: center;
margin-bottom: 20px;
}



.favorites__text{      
      font-weight: 400;
        text-align: center;
        margin-bottom: 60px;
           
}

.favorites__img{
    
min-width:280px;
min-height:282px;
margin: 20px;
padding: 19px;

    background-color: $colWhite;
        border: 11px solid $colYellow;
        border-radius: 139.658px;
        &--tablet{
            @include mq(mob-only) {
                    display: none;
                }

        }
           
}
.favorites__link:hover .favorites__img{
    border: 11px solid $colGreen-light--hover;
}


// .favorites__link{
//     width: 280px;
//     height: 280px;

// }
